<div class="d-flex">
  <div class="jumbotron m-5 flex-grow-1">
    <h1 class="display-4"><%= @animal.name %></h1>
    <p class="lead">Inherit : <%= @animal.type %> Class</p>
    <p class="lead">Inherit : Animal Class</p>
    <hr class="my-4">
    <p>Cara makan : <%= @animal.eat %></p>
    <p>Alat gerak : <%= @animal.move %></p>
    <p>Reproduction : <%= @animal.reproduction %></p>
    <hr class="my-2">
    <p>Details : <%= @animal.details %></p>
    <%= link_to "Home", root_path, class: "btn btn-primary btn-lg mt-2" %>
  </div>

  <div class="m-5 p-5">
    <p>Class:</p>
    <div class="diagram first border border-primary rounded text-center">
      Animal
    </div>
    <div class="d-flex justify-content-center">
      <div class="line-vertical"></div>
    </div>
    <div class="diagram second border border-secondary rounded text-center">
      <%= @animal.type %>
    </div>
    <div class="d-flex justify-content-center">
      <div class="line-vertical"></div>
    </div>
    <div class="diagram third border border-success rounded text-center">
      Object:
      <%= @animal.name %>
    </div>
  </div>
</div>

<%= link_to "Remove", animal_path(@animal), method: :delete, class: "btn btn-danger mt-5 mx-5" %>



<style>
.diagram{
  padding: 20px;
}
.line-vertical {
  width: 2px;
  height: 50px;
  background: #aaa;
}
</style>